registry=https://registry.npmjs.org
@navikt:registry=https://npm.pkg.github.com

# Inkluder Linux binaries i lockfile selv om vi bruker macOS
supportedArchitectures.os=current,linux
supportedArchitectures.cpu=current,x64