@import "tailwindcss";

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--a-bg-default);
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

:root {
  --ekspandert-warning-background: #fffaf3;
}

.navds-accordion--indent > :where(.navds-accordion__item) > :where(.navds-accordion__content) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

span.navds-accordion__header-content {
    width: 100%;
}

.navds-accordion__content {
  padding-right: 0 !important;
}

.navds-accordion__header:hover .navds-accordion__icon-wrapper {
    background-color: rgba(28, 43, 68, 0) !important;
}

.navds-accordion__item:last-child:where(.navds-accordion__item--open) {
    box-shadow: none !important;
}
